/* ==========================================================================
    DEFAULT THEME - LIGHT VERSION
    ========================================================================== */
/* Color codes used for the theme */
$primary-color              : #2f7f93;
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#fff, $gray, 90%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #fff;
    --global-footer-bg-color            : #f5f7f9;
    --global-border-color               : #d9e1e8;
    --global-dark-border-color          : #c4cfd9;
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : #5f6b76;
    --global-link-color                 : #2f7185;
    --global-link-color-hover           : #245866;
    --global-link-color-visited         : #466e7a;
    --global-masthead-link-color        : #{$dark-gray};
    --global-masthead-link-color-hover  : #245866;
    --global-text-color                 : #{$dark-gray};
    --global-text-color-light           : #5f6b76;
    --global-thead-color                : #edf2f6;
}
