{% include base_path %}
{% assign ui_locale = page.lang | default: site.default_locale | default: site.locale | slice: 0, 2 %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign archive_title = post.title | replace: "|", "&#124;" %}
  {% assign title = archive_title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' and post.category == 'preprints' %}
          <p><i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[ui_locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% assign download_links = "" %}
    {% if post.paperurl %}
      {% capture paper_link %}<a href="{{ post.paperurl }}">{{ site.data.ui-text[ui_locale].download_paper_label | default: "Download Paper" }}</a>{% endcapture %}
      {% assign download_links = download_links | append: paper_link %}
    {% endif %}
    {% if post.slidesurl %}
      {% capture slides_link %}<a href="{{ post.slidesurl }}">{{ site.data.ui-text[ui_locale].download_slides_label | default: "Download Slides" }}</a>{% endcapture %}
      {% if download_links != "" %}{% assign download_links = download_links | append: " | " %}{% endif %}
      {% assign download_links = download_links | append: slides_link %}
    {% endif %}
    {% if post.posterurl %}
      {% capture poster_link %}<a href="{{ post.posterurl }}">{{ site.data.ui-text[ui_locale].download_poster_label | default: "Download Poster" }}</a>{% endcapture %}
      {% if download_links != "" %}{% assign download_links = download_links | append: " | " %}{% endif %}
      {% assign download_links = download_links | append: poster_link %}
    {% endif %}
    {% if post.bibtexurl %}
      {% capture bibtex_link %}<a href="{{ post.bibtexurl }}">{{ site.data.ui-text[ui_locale].download_bibtex_label | default: "Download Bibtex" }}</a>{% endcapture %}
      {% if download_links != "" %}{% assign download_links = download_links | append: " | " %}{% endif %}
      {% assign download_links = download_links | append: bibtex_link %}
    {% endif %}
    {% if post.citation or download_links != "" %}
      <p>{% if post.citation %}{{ site.data.ui-text[ui_locale].citation_label | default: "Recommended citation:" }} {{ post.citation }}{% endif %}{% if post.citation and download_links != "" %}<br />{% endif %}{{ download_links }}</p>
    {% endif %}

  </article>
</div>
