<div class="cv-container">
  <div class="cv-section cv-header">
    <h2>{{ site.author.name | escape }}</h2>
    <p>{{ site.author.bio }}</p>
    <div class="cv-contact-info">
      <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
      <a href="{{ '/' | absolute_url }}">{{ '/' | absolute_url }}</a>
    </div>
  </div>
  <section class="cv-section">
    <h2>{% if page.lang == 'zh' %}教育背景{% else %}Education{% endif %}</h2>
    {% include cv-education.html %}
  </section>
  <section class="cv-section">
    <h2>{% if page.lang == 'zh' %}学术发表{% else %}Publications{% endif %}</h2>
    <ul class="cv-list">
      {% for publication in site.publications reversed %}
      <li class="cv-item">
        <div class="cv-item-header"><a class="cv-item-title" href="{{ publication.url | relative_url }}">{{ publication.title | escape }}</a><span>{% if publication.publication_year %}{{ publication.publication_year }}{% else %}{{ publication.date | date: '%Y' }}{% endif %}</span></div>
        <div class="cv-item-content">{{ publication.citation }}</div>
      </li>
      {% endfor %}
    </ul>
  </section>
</div>
