{% assign read_time_lang = post.lang | default: page.lang | default: site.default_locale | default: site.locale | slice: 0, 2 %}
{% assign ui_locale = read_time_lang %}

{% if post.read_time %}
  {% assign read_time_content = post.content %}
{% elsif page.read_time %}
  {% assign read_time_content = page.content %}
{% endif %}

{% if read_time_lang == "zh" %}
  {% assign chinese_chars_per_minute = site.chinese_chars_per_minute | default: 500 %}
  {% assign chars = read_time_content | strip_html | strip_newlines | replace: " ", "" | size %}
  {% if chars < chinese_chars_per_minute %}
    {{ site.data.ui-text[ui_locale].less_than | default: "less than" }} 1 {{ site.data.ui-text[ui_locale].minute_read | default: "minute read" }}
  {% else %}
    {{ chars | plus: chinese_chars_per_minute | minus: 1 | divided_by: chinese_chars_per_minute }} {{ site.data.ui-text[ui_locale].minute_read | default: "minute read" }}
  {% endif %}
{% elsif site.words_per_minute %}
  {% assign words = read_time_content | strip_html | number_of_words %}
  {% if words < 180 %}
    {{ site.data.ui-text[ui_locale].less_than | default: "less than" }} 1 {{ site.data.ui-text[ui_locale].minute_read | default: "minute read" }}
  {% elsif words < 360 %}
    1 {{ site.data.ui-text[ui_locale].minute_read | default: "minute read" }}
  {% else %}
    {{ words | divided_by:site.words_per_minute }} {{ site.data.ui-text[ui_locale].minute_read | default: "minute read" }}
  {% endif %}
{% else %}
  {{ site.data.ui-text[ui_locale].undefined_wpm | "Undefined parameter words_per_minute at _config.yml" }}
{% endif %}
