<!-- start custom comments snippet -->
<script src="https://giscus.app/client.js"
        data-repo="T-Atlas/t-atlas.github.io"
        data-repo-id="R_kgDOOHTKUQ"
        data-category="General"
        data-category-id="DIC_kwDOOHTKUc4C-76A"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="{% if page.lang == 'zh' %}zh-CN{% else %}en{% endif %}"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
<!-- end custom comments snippet -->
